<div class="main-container">
    <section class="afspraak-details">
        <h2>Afspraak details</h2>
        <p>Hieronder vind je de details van je afspraak.</p>
        <div class="afspraken-list">
            <div class="afspraken-list-header">
                <div class="afspraak-header-part">Dag</div>
                <div class="afspraak-header-part">Datum</div>
                <div class="afspraak-header-part">Tijd</div>
                <div class="afspraak-header-part">Soort</div>
                <div class="afspraak-header-part">Waar</div>
                <div class="afspraak-header-part">Afdeling</div>
                <div class="afspraak-header-part">Bij</div>

            </div>
            <div class="afspraken">
                <div class="afspraak">
                    <div class="afspraak-part">Donderdag</div>
                    <div class="afspraak-part">01/01/2026</div>
                    <div class="afspraak-part">10:00</div>
                    <div class="afspraak-part">Consult</div>
                    <div class="afspraak-part">Cadix</div>
                    <div class="afspraak-part">Cardiologie</div>
                    <div class="afspraak-part">Dr. Jansen</div>
                </div>
            </div>
        </div>
    </section>
    <section class="informatie">
        <div class="afspraak-bevestiging">
            <h2>Bevestiging van uw afspraak</h2>
            <p>
                Er is een bevestigingsmail verstuurd naar het opgegeven e-mailadres <strong>jon.doe&#64;mail.adres</strong>.
            </p>
            <p>
                In deze mail vindt u alle informatie over uw afspraak in het ziekenhuis, waaronder:
            </p>
            <ul>
                <li>Een 3D-schets van het ziekenhuis en de route naar de juiste afdeling</li>
                <li>Een video met duidelijke uitleg over het registratieproces bij aankomst</li>
                <li>De datum, tijd en locatie van uw afspraak</li>
                <li>Eventuele extra instructies of documenten die u moet meenemen</li>
            </ul>
            <p>
                U kunt deze 3D-schets ook hieronder op deze pagina bekijken.<br>
                Voor verdere vragen kunt u steeds contact opnemen met onze onthaalbalie.
            </p>
        </div>

    </section>
    <section class="kaart-3d">
        <div class="kaart-3d-content">
            <h2>Waar registreren?</h2>
            <p>Gebruik onderstaande interactieve 3D-kaart om je voor te bereiden op uw registratie.</p>
            <div class="embed-wrapper">
                <iframe 
                    src="https://my.matterport.com/show?play=1&lang=en-US&m=QT1Mo1fAES7" 
                    frameborder="0" 
                    allowfullscreen 
                    allow="xr-spatial-tracking; fullscreen" >
                </iframe>
            </div>
        </div>
    </section>
    <section class="video">
        <div class="video-content">
            <h2>Hoe registreren?</h2>
            <p>Bekijk onderstaande video voor een duidelijke uitleg over het registratieproces bij aankomst.</p>
            <div class="embed-wrapper">
            <iframe 
                src="https://www.youtube.com/embed/bLZtg0wxmz4" 
                frameborder="0" 
                allowfullscreen>
            </iframe>
            </div>
         </div>
    </section>

</div>
