<header class="navbar">
  <div class="navbar-left">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5b/ZAS_Logo.png/1200px-ZAS_Logo.png" alt="ZAS Logo" class="logo" />
  </div>

  <nav class="navbar-center">
    <a routerLink="/home" routerLinkActive="active">Home</a>
    <a routerLink="/agenda" routerLinkActive="active">Agenda</a>
    <a href="#">Brieven</a>
    <a href="#">Dossier</a>
    <a href="#">Vragenlijsten</a>
    <a href="#">E-Consult</a>
    <a href="#">Brochures</a>
    <a href="#">Mijn gegevens</a>
  </nav>

  <div class="navbar-right">
    <div class="user-info">
      <img src="https://cdn4.iconfinder.com/data/icons/instagram-ui-twotone/48/Paul-18-512.png" alt="User Avatar" class="avatar" />
      <div>
        <div class="user-name">Joe, Don</div>
        <div class="user-meta">0000000000<br /> 01/01/2000 · Man</div>
      </div>
      <button class="logout-btn">⏻</button>
    </div>
  </div>
</header>
