<div class="main-container">
  <section class="welcome-card">
    <h2>Welkom op het patiëntenportaal van Ziekenhuis aan de Stroom (ZAS)</h2>
    <p>Dit beveiligde portaal geeft je toegang tot je persoonlijk patiëntendossier.</p>
    <p>Je kan via dit portaal je medische gegevens inkijken, maar ook een aantal zaken zelf regelen:</p>

    <ul>
      <li>je persoonlijk medisch dossier inkijken</li>
      <li>een <strong>nieuwe afspraak maken</strong></li>
      <li>een overzicht krijgen van je afspraken, deze wijzigen of annuleren</li>
      <li>de resultaten van onderzoeken of verslagen inkijken</li>
      <li>vragenlijsten invullen</li>
      <li>een vraag stellen aan je arts of zorgverlener</li>
      <li>patiëntenbrochures raadplegen</li>
      <li>je contactgegevens bekijken of wijzigen</li>
    </ul>

    <p><strong>Vragen over het gebruik van dit patiëntenplatform?</strong></p>
    <p>
      <a href="#" class="link">Klik hier om onze FAQ te bekijken</a><br />
      <a href="#" class="link">Download onze brochure</a>
    </p>
  </section>

  <div class="actions-container">
    <button routerLink="/agenda" class="appointment-button">Maak een afspraak</button>
  </div>

  <section class="dashboard-grid">
    <div class="dashboard-item" routerLink="/faq">
      <img src="https://www.clipartmax.com/png/middle/131-1317456_faq-icon.png" alt="FAQ" /> <br>
      <span>FAQ</span>
    </div>
    <div class="dashboard-item" routerLink="/patient-rights">
      <img src="https://cdn-icons-png.flaticon.com/512/3633/3633013.png" alt="Patiëntenrechten" /> <br>
      <span>Patiëntenrechten</span>
    </div>
    <div class="dashboard-item" routerLink="/finance">
      <img src="https://cdn-icons-png.flaticon.com/512/3449/3449311.png" alt="Financiële info" /> <br>
      <span>Financiële info</span>
    </div>
    <div class="dashboard-item" routerLink="/discharge">
      <img src="assets/icons/discharge.svg" alt="Info over ontslag" /> <br>
      <span>Ontslag</span>
    </div>
  </section>
</div>
